
h1, h2, h3, h4, h5 {
	margin-top: 0;
}
.top-header {
	padding-bottom: 15px;
	border-bottom: 1px solid #CCC;
}
.subtitle {
	font-size: 18px;
	color: #d7d7d7;
}
.media {
	padding: 20px 0;
	border-bottom: 1px solid #CCC;
}
section {
	padding-bottom: 25px;
	/*border-bottom: 1px solid #CCC;*/
}
/* Media Objects */
.media img.media-object {
	margin-right: 15px;
}

/* Forms */
form label {
	width: 150px;
	display: inline-block;
}
form .form-component {
	padding: 10px 0;
}
input[type="file"] {
     display: inline-block; 
}
ul {
	padding-left: 15px;
	list-style-type: none;
}
header {
	padding-top: 5px 0;
	background-color: #CCC;
}
.login-box {
	margin-bottom: 25px;
}
nav ul li {
	list-style-type: none;
	display: inline;
}
nav ul li a {
	padding: 10px 15px;
}
.wrapper,
.records-wrapper {
	padding: 30px 0;
}
.content {
	padding: 30px 0;
}
.media img.media-object {
	width: 150px;
	height: 150px;
}
/*aside*/
.sb-widget {
	padding: 15px;
}

/* Page Specific */
/* Home Page */
.record-entry {
	border-bottom: 1px solid #CCC;
}
footer {
	padding: 15px 0;
	background-color: #CCC;	
}

/* Pagination */
.paginate {
	font-family:Arial, Helvetica, sans-serif;
	padding: 3px;
	margin: 3px;
}

.paginate a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #999;
	text-decoration:none;
	color: #666;
}
.paginate a:hover, .paginate a:active {
	border: 1px solid #999;
	color: #000;
}
.paginate span.current {
	margin: 2px;
	padding: 2px 5px 2px 5px;
	border: 1px solid #999;
	font-weight: bold;
	background-color: #999;
	color: #FFF;
}
.paginate span.disabled {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #eee;
	color:#DDD;
}

li {
	padding: 4px;
	margin-bottom: 3px;
	background-color: #FCC;
	list-style: none;
}

ul {
	margin:6px;
	padding:0px;
}



